 
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.text-primary {
  color: #fd6e0a;

}

nav ul li {
  list-style: none;
  margin-right: 49px;
  
}

nav ul {
  display: flex;
  align-items: center;
 

}

.dark-2 {
  color: #474747;
}   
  
nav li a {
  
text-decoration: none;
font-size: 20px;
}
 
 nav {
    align-items: center;
   justify-content: space-between;
   margin: 0px 200px;
    display: flex;
}

.btn-primary {
  background-color: #fd6e0a;
  font-weight: bold;
  color: white;
  border: none;
  padding: 18px 49px;
  border-radius: 6px;
  font-size: 20px;
 
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}


.item-description {

font-weight: 600;

}


.banner-greetings {
  font-size: 44px;
  font-weight: 600;
}

.secondary-back {
background-color: #FFF8F3;
}
.about  {
text-align: center;
border-radius: 10px;
margin-top: 130px;

}

main {

max-width: 1140px;
margin: 0 auto;
padding: 130px 149px;
}

.banner-title {
  font-size: 60px;
  font-weight: bold;
  
}
.section-title {

  font-size: 36px;
  font-weight: bold;
  color: #181818;

}
.section-description {

font-size: 18px;
color: #757575;
}

.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
   margin-top: 38pxs;
   background-position: top left, bottom right;
}

.banner-pro-pic {
 width: 580px;
}

.banner {
    justify-content: space-between;
margin: 0 34px 0 200px;
    display: flex;

}

.banner-content {
 max-width: 580px;
 
}

.about-items{
display: flex;
justify-content: space-around;
}